### Video Game Sales

#### Data Diri

**Nama:** Bayu Setiawan

**NIM:** 026

#### Penjelasan Singkat
Dataset penjualan video game dari berbagai *platform* 

[Sumber bisa dilihat di sini](https://www.kaggle.com/datasets/gregorut/videogamesales)

##### Tampilan Dataset

In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
from prettytable import PrettyTable

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler, StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer

df = pd.read_csv("./dataset/vgsales.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

##### Bagi dataset menjadi training set dan testing set dengan proporsi 70:30

In [5]:
X = df.iloc[:, : -1]
y = df.iloc[:, -1]

X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=0.3)

table = PrettyTable(["Data", "Hasil"])
table.title = "Pembagian Dataset"
table.align = "l"

table.add_row(["Dimensi X_train", X_train.shape])
table.add_row(["Dimensi X_text", X_test.shape])
table.add_row(["Dimensi Y_train", Y_train.shape])
table.add_row(["Dimensi Y_test", Y_test.shape])

print(table)

+-------------------------------+
|       Pembagian Dataset       |
+-----------------+-------------+
| Data            | Hasil       |
+-----------------+-------------+
| Dimensi X_train | (11618, 10) |
| Dimensi X_text  | (4980, 10)  |
| Dimensi Y_train | (11618,)    |
| Dimensi Y_test  | (4980,)     |
+-----------------+-------------+

##### Lakukan normalisasi data pada salah satu attribute menggunakan Min Max scaler (buatlah copy dataset terlebih dahulu)

In [7]:
data_normalized = df[["Global_Sales"]]
data_normalized.columns = ["Global_Sales"]

min_max_scaler = MinMaxScaler()
normalized = min_max_scaler.fit_transform(data_normalized[["Global_Sales"]])

df_normalized = pd.DataFrame(normalized)
df_normalized.columns =["Global_Sales_Norm"]

data_normalized = data_normalized.join(df_normalized["Global_Sales_Norm"]).reset_index()
data_normalized = data_normalized.drop("index", axis=1)

data_normalized.head()

   Global_Sales  Global_Sales_Norm
0         82.74           1.000000
1         40.24           0.486281
2         35.82           0.432854
3         33.00           0.398767
4         31.37           0.379064

##### Lakukan standarisasi pada dataset (buatlah copy dataset terlebih dahulu)

In [25]:
data_origin = df.select_dtypes(include='number')

standard_scaler = StandardScaler()
df_standarized = standard_scaler.fit_transform(data_origin)
data_standarized = pd.DataFrame(df_standarized)
data_standarized.columns = ["Rank", "Year", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]


table = PrettyTable(["Data", "Sebelum", "Sesudah"])
table.title = "Standarisasi"
table.align = "l"

std_origin = np.std(data_origin)
std_standarized = np.std(data_standarized)

table.add_row(["Rank", std_origin["Rank"], std_standarized["Rank"]])
table.add_row(["Year", std_origin["Year"], std_standarized["Year"]])
table.add_row(["NA_Sales", std_origin["NA_Sales"], std_standarized["NA_Sales"]])
table.add_row(["EU_Sales", std_origin["EU_Sales"], std_standarized["EU_Sales"]])
table.add_row(["JP_Sales", std_origin["JP_Sales"], std_standarized["JP_Sales"]])
table.add_row(["Other_Sales", std_origin["Other_Sales"], std_standarized["Other_Sales"]])
table.add_row(["Global_Sales", std_origin["Global_Sales"], std_standarized["Global_Sales"]])

print(table)

+---------------------------------------------+
|                 Standarisasi                |
+--------------+--------------------+---------+
| Data         | Sebelum            | Sesudah |
+--------------+--------------------+---------+
| Rank         | 4791.7095803807315 | 1.0     |
| Year         | 5.8288026045648555 | 1.0     |
| NA_Sales     | 0.816658427077811  | 1.0     |
| EU_Sales     | 0.5053360078008547 | 1.0     |
| JP_Sales     | 0.3092813308359451 | 1.0     |
| Other_Sales  | 0.1885827217690971 | 1.0     |
| Global_Sales | 1.5549810910296606 | 1.0     |
+--------------+--------------------+---------+

##### Lakukan Data cleaning pada data dengan nilai null (jika tidak ada nilai null pada dataset, maka buatlah menjadi ada).

Ganti nilai null sesuai ketentuan. (bilangan bulat : median/modus, bilangan desimal : mean, tulisan : modus). Nilai plus jika strategy yang digunakan menggunakan 3 nilai

di sini akan menggunakan **NULL**

In [27]:
df_broken = df.select_dtypes(include='number')

ix = [(row, col) for row in range(df_broken.shape[0]) for col in range(df_broken.shape[1])]
for row, col in random.sample(ix, int(round(.1*len(ix)))):
    df_broken.iat[row, col] = np.nan
    
df_broken.head()

   Rank    Year  NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
0   1.0     NaN     41.49     29.02      3.77         8.46           NaN
1   NaN     NaN     29.08      3.58      6.81         0.77         40.24
2   3.0  2008.0     15.85     12.88      3.79         3.31         35.82
3   4.0     NaN     15.75     11.01      3.28         2.96         33.00
4   5.0  1996.0     11.27      8.89     10.22         1.00         31.37

In [42]:
simple_imputer = SimpleImputer(strategy = "mean")
df_cleaned = simple_imputer.fit_transform(df_broken)
data_cleaned = pd.DataFrame(df_cleaned)
data_cleaned.columns = ["Rank", "Year", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales"]


types = df_broken.dtypes;
broken_sums = df_broken.isna().sum();
cleaned_sums = data_cleaned.isna().sum()

table = PrettyTable(["Data", "Tipe Data", "Total Sebelum", "Total Sesudah"])
table.title = "Cleaning"
table.align = "l"

std_origin = np.std(data_origin)
std_standarized = np.std(data_standarized)

table.add_row(["Rank", types["Rank"], broken_sums["Rank"], cleaned_sums["Rank"]])
table.add_row(["Year", types["Year"], broken_sums["Year"], cleaned_sums["Year"]])
table.add_row(["NA_Sales", types["NA_Sales"], broken_sums["NA_Sales"], cleaned_sums["NA_Sales"]])
table.add_row(["EU_Sales", types["EU_Sales"], broken_sums["EU_Sales"], cleaned_sums["EU_Sales"]])
table.add_row(["JP_Sales", types["JP_Sales"], broken_sums["JP_Sales"], cleaned_sums["JP_Sales"]])
table.add_row(["Other_Sales", types["Other_Sales"], broken_sums["Other_Sales"], cleaned_sums["Other_Sales"]])
table.add_row(["Global_Sales", types["Global_Sales"], broken_sums["Global_Sales"], cleaned_sums["Global_Sales"]])


print(table)

+----------------------------------------------------------+
|                         Cleaning                         |
+--------------+-----------+---------------+---------------+
| Data         | Tipe Data | Total Sebelum | Total Sesudah |
+--------------+-----------+---------------+---------------+
| Rank         | float64   | 1709          | 0             |
| Year         | float64   | 1922          | 0             |
| NA_Sales     | float64   | 1688          | 0             |
| EU_Sales     | float64   | 1638          | 0             |
| JP_Sales     | float64   | 1653          | 0             |
| Other_Sales  | float64   | 1641          | 0             |
| Global_Sales | float64   | 1613          | 0             |
+--------------+-----------+---------------+---------------+

#### Lakukan Data cleaning pada data dengan nilai duplikat. (Jika tidak ada nilai duplikat pada dataset, maka buatlah menjadi ada)

Di sini kita akan membuat data duplikat terlebih dahulu

In [45]:
df_duplicated = pd.concat([df]*2, ignore_index=True)
df_duplicated.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
33191     True
33192     True
33193     True
33194     True
33195     True
Length: 33196, dtype: bool

In [46]:
print(f"Total data duplikat: {df_duplicated.duplicated().sum()}")
df_duplicated.drop_duplicates(inplace = True)
print(f"Total data duplikat: {df_duplicated.duplicated().sum()}")

Total data duplikat: 16598
Total data duplikat: 0

#### Ganti tipe data salah satu attribute angka

In [51]:
print(f"Tipe data sebelum: {df['NA_Sales'].dtypes}")
df_to_number = df[["NA_Sales"]].astype(int)
print(f"Tipe data sesudah: {df_to_number['NA_Sales'].dtypes}")

Tipe data sebelum: float64
Tipe data sesudah: int32

#### Lakukan one hot encoding pada dataset yang kalian miliki.

In [55]:
data_encoded = df["Genre"].value_counts().rename_axis("Genre").reset_index(name="count")
czip = zip(data_encoded["Genre"])
cname = [nama_kategori[0] for nama_kategori in list(czip)]

#Encoding
one_hot_encoder = OneHotEncoder(sparse=False)
data_encoded = one_hot_encoder.fit_transform(df[["Genre"]])

df_encoded = pd.DataFrame(data_encoded)
df_encoded.columns = cname

df_encoded.head()

,Action,Sports,Misc,Role-Playing,Shooter,Adventure,Racing,Platform,Simulation,Fighting,Strategy,Puzzle
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0